/* Genel Ayarlar */
body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Her şeyi ortalar */
}

/* Header ve Logo Ayarı */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    box-sizing: border-box;
    background: #fff; /* Başlangıçta beyaz */
}

.nav-logo {
    height: 50px; /* Logonu buradan küçültebilirsin */
    width: auto;
}

/* Oyun Görselini Ortala */
.hero {
    text-align: center;
    margin-top: 50px;
}

.game-img {
    width: 300px;
    border-radius: 15px;
    display: block;
    margin: 0 auto 20px;
}
